@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: edu NSW ACT Foundation, sans-serif;
    background-color: #363636;
}

h1 {
    text-align: center;
    font-size: 80px;
    color: #cca43b;
}

label {
    color: #cca43b;
    font-size: 40px;
    text-align: center;
    text-transform: capitalize;
}

button {
    background-color: #cca43b;
    color: #363636;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
input {
    font-size: 20px;
}
