@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&display=swap');

/* global style */
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: edu NSW ACT Foundation, sans-serif;
    background-color: #363636;
}

/* Heading */
#header {
    color: #cca43b;
    text-align: center;
    font-size: 80px;
}

/*Code and button section */
label {
    color: #cca43b;
    font-size: 40px;
    text-align: center;
    text-transform: capitalize;
}
button {
    background-color: #cca43b;
    color: #363636;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
input {
    font-size: 20px;
}

/* Results section */
article {
    color: #cca43b;
    font-size: 30px;
    margin-top: 10px;
    text-indent: 20px;
}
/* footer*/
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #cca43b;
    color: #363636;
    text-align: center;
    font-size: large;
    font-weight: bold;
  }

  /* media queries */
  /* for larger screens from 1200px wide and down */
  @media screen and (max-width:1200px) {
    .result {
        height: 200px;
    }
  }

  /* for screens 800px and down */
  @media screen and (max-width:800px) {
  .result {
    height: auto;
    width: 65%;
  }
    
  }

  /* for screens to 300px*/
  @media screen and (max-width:300px) {
   
    #header {
        width: 100%;
        font-size: 180%;
    }
    label {
        font-size: 140%;
    }
    button {
        font-size: 15px;
    }
    article {
        font-size: 20px;
        height: 200px;
    }
    footer {
        width: 100%;
        font-size: small;
    }
  }